{% extends 'portfolio/base.html'%}

{% block content %}

{% load static %}

    <div class="text-center">
      <h1>My portfolio</h1>
      <img src="{% static 'portfolio/BSP_6250.jpg' %}"height=450 width=350 class="rounded">
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            {% for project in projects %}
                {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
                <div class="col">
                  {% if project.url %}
                    <a href="{{ project.url}}" target="_blank"><h2>{{ project.title }}</h2></a>
                  {% else %}
                    <h2>{{ project.title }}</h2>
                  {% endif %}
                  <p>{{ project.description }}</p>
                  <img src="{{ project.image.url }}" height=200 width=250>
                </div>
            {% endfor %}
        </div>
    </div>

  {% endblock %}
